<ion-view view-title="PupilPod">
	<ion-content>
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>		
		<div class="item item-divider">
			Examinations
		</div>
		<div class="card" ng-repeat="details in studentTestDetails">
			<div class="row row-center" ng-click="goToDetails(details.test_instance_guid)">
				<div class="col col-90">{{details.test_name}}</div>
				<div class="col">
					<button class="button button-small button-clear button-dark icon icon-right ion-chevron-right" style="width:100%;"></button>
				</div>
			</div>	
		</div>
	</ion-content>
</ion-view>