<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-assertive">
			<!--<ion-nav-back-button></ion-nav-back-button>-->
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()" ng-hide="loginTrue"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content> 
	
	<ion-side-menu side="left">
		<ion-content>
			<div id="student_info"></div>
			<div style="background-color:#A1C735;">
				<div class="row">
					<img src="{{studentImage}}" alt="Image" style="height:50px;width:50px;color:white;border-radius:50%;"/>
					<div class="h3" style="padding-left:5px;color:white;">{{student_name}}</div>
				</div>	
			</div>
			<ul class="list">
				<div ng-repeat="menu in menuList">
					<!--<div>{{menu.feature_id}}</div>-->
					<div ng-if="menu.feature_id == 'menu_mainLanding'">
						<li>
							<a class="item" href="#/eventmenu/mainLanding" ng-click="toggleLeft()"><i class="icon ion-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_exam_details'">
						<li>
							<a class="item" href="#/eventmenu/exam_details" ng-click="toggleLeft()"><i class="icon ion-clipboard"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examination</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_attendance'">
						<li>
							<a class="item" href="#/eventmenu/attendance" ng-click="toggleLeft()"><i class="ion-compose"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attendance</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_calender'">
						<li>
							<a class="item" ng-click="toggleLeft()" href="#/eventmenu/calender"><i class="ion-android-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calender</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_fees'">
						<li>
							<a class="item" ng-click="toggleLeft()" href="#/eventmenu/fees"><i class="icon ion-card"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_messages'">
						<li>
							<a class="item" ng-click="toggleLeft()" href="#/eventmenu/messages"><i class="ion-chatbubble"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Messages</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_publications'">
						<li>
							<a class="item" ng-click="toggleLeft()" href="#/eventmenu/publications"><i class="ion-document-text"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Publications</a>
						</li>
					</div>
					<div ng-if="menu.feature_id == 'menu_transportDetails'">
						<li>
							<a class="item" href="#/eventmenu/transportDetails" ng-click="toggleLeft()"><i class="ion-model-s"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Transport</a>
						</li>
					</div>
					<!--<li>
						<a class="item" href="#/eventmenu/user_feedback" ng-click="toggleLeft()"><i class="ion-social-twitch"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Feedback</a>
					</li>-->
					<div ng-if="menu.feature_id == 'menu_logout'">
						<li>
							<a class="item" href="#/eventmenu/logout" ng-click="toggleLeft()"><i class="ion-power"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logout</a>
						</li>
					</div>					
				</div>
            </ul>
				<dropdown class="ng-isolate-scope" selected="student" property="name" list="students" placeholder="Change Student"></dropdown>
			<div id="student_details"></div>
			
		</ion-content>
	</ion-side-menu>
</ion-side-menus>