<ion-view view-title="Pupilpod" >
	<ion-content>
		<div ng-show="!loading">
			<div class="item item-divider">
				Transport details
			</div>
			<div class="card" ng-repeat="row in routeDetails">
				<div class="row row-center">
					<div class="col col-50" style="border-right:solid 2px #EFEFEF;">{{row.label}}</div>
					<div class="col col-50">{{row.value}}</div>
				</div>
			</div>
		</div>	
		<div ng-show="loading">
			<div style="text-align:center;">
				<ion-spinner icon="ripple" class="spinner-balanced"></ion-spinner>
			</div>
		</div>
	</ion-content>
</ion-view>	